In [7]:
import pandas as pd

import statsmodels.api as sm

In [5]:
df = pd.read_csv('../datasets/data.csv', index_col=['date'], parse_dates=['date'])

In [6]:
df.head()

            work  income
date
2021-09-30     2    2100
2021-10-03     1    3600
2021-10-04     1    4000
2021-10-05     1    7900
2021-10-06     1    7500